<%- include('partials/header.ejs') %>
<nav>
    <p><a href="/">NIT-T Slam Book</a></p>
    <div class="search">
        <form action="/profile" method="post" id="search-bar">
            <input autocomplete="off" list="search" name="search" placeholder="Who do you want to write about?">
            <datalist id="search">
                <% for(let i=0;i<allDocs.length;i++){ %>
                    <%if(allDocs[i].name != commentor_profile){%>
                        <option value="<%=allDocs[i].name%>"></option>
                    <%}%>                    
                <% } %>
            </datalist>
            <button type="submit" class="profile-btn">Go!</button>
            <a class="log-out" href="/">Log-Out</a>  
        </form>
 </div>
</nav>
<div class="welcome">
    <h1>Welcome <%= person %>!</h1>
    <h4>See what others think of <%= pronoun %>...</h4>
</div>

<div class="comments-container">
    <ul>
        <% for(let i=0;i<comments.length;i++){ %>
            <li><%=comments[i].commenter %>: <%= comments[i].comment %></li>
        <% } %>
    </ul>
</div>


<%- include('partials/footer.ejs') %>